{% extends "layout.min.html" %}
{% block title %}Growser{% endblock %}

{% block header %}
    <style>
    .page-header {
        background: url(/static/img/wall.20.png);
    }
    .page-header h1 { font-size: 140%; }
    .page-header .intro { text-align: center; }
    .page-header .intro {
        padding: 14em 0 15em 0;
        opacity: .8;
    }
    .page-header h1 {
        background: #000;
        padding: 20px 40px;
        border-radius: 3px;
        display: inline-block;
    }
    </style>
    <div class="intro">
        <h1>A Different Look at Open Source</h1>
    </div>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    <script>
    var wall1 = '{{ url_for("static", filename="img/wall.20.png") }}';
    var wall2 = '{{ url_for("static", filename="img/wall.40.png") }}';

    $('<img/>')[0].src = wall2;
    var movie = function(e, s) {
        var elem = e, ms = s, position = 0, timer;
        this.move = function() {
            e.css('background-position', position + 'px 100%');
            position += 1;
        };
        this.start = function(t) {
            var loop = function() {
                this.move();
                timer = setTimeout(loop, ms);
            };
            timer = setTimeout(loop, t);
        };
        this.pause = function() { clearTimeout(timer); };
        return this;
    };

    var mv = movie($('.page-header'), 60);
    var ph = $('.page-header');

    mv.start(150);
    ph.hover(function() {
        ph.css('background-image', 'url('+wall2+')');
    }, function() {
        ph.css('background-image', 'url('+wall1+')');
    } );
    </script>

{% endblock %}