<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Growser{% endblock %}</title>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/octicons/octicons.css" rel="stylesheet" >
<style>
#subheader { padding: 0; margin-top: -20px; border-bottom: 1px solid #ddd; }
#menu { margin-top: 16px; margin-bottom: -1px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover { border-top: 3px solid #d26911; }
.nav-tabs > li > a:hover { border-bottom: 0; }
.pagination { margin: 0; }
.pager { margin: 0; }
</style>
</head>
<body>

<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Growser</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('browse') }}">Browse</a></li>
        <li><a href="/t/">Trending</a></li>
        <li><a href="/o/">Organizations</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block footer %}{% endblock %}

</body>
</html>