{% extends "layout.html" %}

{% block title %}Top Organizations{% endblock %}
{% block body %}
    <div class="jumbotron" style="margin-top: -20px; padding-top: 16px; padding-bottom: 24px;">
        <div class="container">
            <h2> <a href="https://github.com/{{ org }}" class="mega-octicon octicon-mark-github" target="_blank"></a> {{ org }}</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-9">
                {% from 'list.html' import repositories %}
                {{ repositories(results) }}
            </div>
        </div>
    </div>
{% endblock %}