{% extends "layout.html" %}

{% block title %}{{ repo.name }}{% endblock %}
{% block body %}
    <style>
    #daily_events { width: 100%; height: 200px; }
    .parent {
        overflow: hidden;
        position: relative;

    }
    .child-right {
        background:green;
        height: 100%;
        display: inline-block;
    }
    </style>

    <div class="jumbotron" id="subheader">
        <div class="container">
            <h2>{{ repo.name }} <small><a href="{{ url_for('browse', language=repo.language) }}">{{ repo.language }}</a></small></h2>
            <div>
                <a href="https://github.com/{{ repo.name }}" class="octicon octicon-mark-github" target="_blank"></a> {{ repo.description }} ( {{ repo.repo_id }} )
            </div>
            {% include 'repository_menu.html' %}
        </div>
    </div>


    <div class="container">
        <div id="daily_events"></div>
    </div>

    <div class="container">
        <div id="repository-list"></div>
    </div>
{% endblock %}

{% block footer %}
    <script>
    var repo_id = {{ repo.repo_id}};
    var model_id = 1;
    </script>

    <script src="{{ url_for('static', filename='amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='amcharts/serial.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react-dom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='test.js') }}"></script>

    <script>
    var events_url = "{{ url_for('api.events', repo_id=repo.repo_id) }}";

    var guides = [];
    {% for award in awards %}
    guides.push({"lineColor": "#080808", "lineAlpha": 1,
                "dashLength": 5, "inside": true, "labelRotation": 90,
                "label": "", "date": "{{ award.awarded_on }}",
                "balloonText": "{{ award.award.name }} {{ award.awarded_on }}  ({{"{:,.2f}".format(award.votes_pct)}}  of all votes) %"});
    {% endfor %}

    {% raw %}
    $.getJSON(events_url, function(data) {
        var chart = AmCharts.makeChart("daily_events", {
            "type": "serial",
            "theme": "light",
            "autoMarginOffset": 0,
            "marginTop": 0,
            "legend": {
                "useGraphSettings": true,
                "equalWidths": false,
                "spacing": 5,
                "align": "center"
            },
            "dataProvider": data["result"],
            "valueAxes": [{
                "axisAlpha": 0.2,
                "dashLength": 1,
                "position": "left"
            }],
            colors: ["#696969", "#000", "#f00"],
            "mouseWheelZoomEnabled": true,
            "graphs": [{
                "id": "g1",
                "title": "# of Events",
                "valueField": "num_events",
                "connect": false
            }, {
                "id": "g2",
                "title": "Daily Average",
                "valueField": "num_events_avg"
            }, {
                "id": "g3",
                "title": "30-day Rolling Average",
                "valueField": "num_events_m30"
            }],
            "chartScrollbar": {
                "autoGridCount": true,
                "graph": "g1",
                "scrollbarHeight": 20
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "axisColor": "#DADADA",
                "dashLength": 1,
                "minorGridEnabled": true
            },
            "guides": guides
        });

    });
    </script>
    {% endraw %}

{% endblock %}

